<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConn"
             connectionString="Data source=DESKTOP-EOE4UOM\\SQLEXPRESS01;Initial Catalog=CustomerDB; Integrated Security=True" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
</configuration>
